.weatherNavbarContainer {
  width: 100vw;
  padding: 0.4rem 4rem;
  background-color: rgb(212, 212, 233);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.weatherNavbarContainer > div:first-of-type {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.weatherNavbarContainer > div:first-of-type button {
  padding-left: 0.5rem;
}

@media screen and (max-width: 450px) {
  .weatherNavbarContainer {
    padding: 0.4rem 2rem;
  }
}

.dropDown {
  text-align: center;
}
